body, #barcode-scanner video {
  width: 100%;
  height: 100%;
}

#barcode-scanner canvas{
    display:none;

}

#barcode-scanner video.drawingBuffer canvas.drawingBuffer{
  display: none;
}

#barcode-scanner video.drawingBuffer {
  display: none;
}

body {
 margin-top: 0; 
 margin-bottom:0; 
 margin-left:0;
 margin-right:0;!important
}